[commit]
    message = n
[remote "github"]
    url = git@github.com:huangyingw/asyncrun.vim.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = origin
    branch = master
[remote "origin"]
    url = git@github.com:skywind3000/asyncrun.vim.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "dev"]
    remote = github
    merge = refs/heads/dev
